body {
  padding: 0;
  margin: 0;
  background: #82e0aa;
}

.contenedor_tareas {
  background-color: #2ecc71;

  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
}
.nombre_app {
  justify-self: center;
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  text-shadow: 0 0 10px #fff;
  color: #fff;
  text-decoration: underline 1px solid #d0d3d4;
  margin: 20px 0;

  grid-column: 2/8;
  grid-row: 1/2;
}
.mensaje_limiteTexto {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  margin: 10px 0;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius: 50px;
  justify-self: left;
  padding: 5px;

  grid-column: 2/5;
  grid-row: 3/5;
}
.mensaje_eliminar {
  justify-self: right;
  font-size: 2rem;
  margin: 5px 3px;
  margin: 10px 0;
  color: #fff;
  padding: 5px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius: 50px;
  text-shadow: 0 0 5px #fff;

  grid-column: 5/8;
  grid-row: 3/5;
}
.input_tareas {
  padding-left: 15px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  border: none;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  border-radius: 50px;
  transition: 0.2s;
  height: 50px;
  outline: none;

  grid-column: -2/-8;
  grid-row: 5/7;
}
.input_tareas:hover {
  background: #ecf0f1;
}

.btn_agregar_tareas {
  width: 150px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background: #fff;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  justify-self: center;
  transition: 0.3s;

  grid-column: -4/-6;
  grid-row: 7/9;
}

.btn_agregar_tareas:hover {
  background: lightgray;
}

/* Contenedor Vista de Tareas */

.Contenedor_Vista_Tareas {
  max-width: 1000px;
  min-width: auto;
  margin: 0 100px;

  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
}
.cards {
  margin: 5px 0;
  border-radius: 50px;
  padding: 5px;
  padding-left: 15px;
  background: #16a085;
  grid-column: 1/9;
  grid-row: auto;
  color: #fff;
  transition: 0.2s;
  box-shadow: 0px 0px 10px #fff;

  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(2, auto);
}
.cards:hover {
  box-shadow: 0px 0px 10px crimson;
  background: crimson;
  cursor: pointer;
  opacity: 80%;
}
.descripcion {
  justify-self: start;
  margin: 0;

  grid-column: -1/-9;
  grid-row: 1/2;
}
.img_boton {
  width: 40px;
  height: 40px;
}
/* Elementos de la Lista de Tareas */

/* click    click    click    click    click    click    click    click    click    click    click    click    click     */

.error_input {
  color: #e74333;
  box-shadow: 0 0 50px #e74333;
}

.lista_vacia {
  content: "Hola";
  background: aquamarine;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}
